<mat-card class="card post-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content class="post-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
      </mat-form-field>
      <button mat-raised-button color="accent">Register</button>
    </mat-card-content>
  </form>
</mat-card>